@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: 'Nebula-Hollow';
	src: url('/fonts/Nebula-Hollow.otf') format('opentype');
}
@font-face {
	font-family: 'Nebula-Regular';
	src: url('/fonts/Nebula-Regular.otf') format('opentype');
}

:root {
	--foreground: rgb(156 163 175);
	--background: #121212;
}

body {
	color: var(--foreground);
	background: url('./../../public/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--background);
	border-radius: 4px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
